.form-control {
    border-color: rgb(181, 181, 181);
    &:focus {
        background-color: #fff;
        border-color: $primary-color;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.4);
    }
}