/** Entry file untuk semua file sass */
.form-control {
  border-color: #b5b5b5; }
  .form-control:focus {
    background-color: #fff;
    border-color: #4170f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(65, 112, 243, 0.4); }

#modal-left .modal {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
#modal-left .modal-header {
  padding: 5px 10px; }
#modal-left .modal-dialog {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  margin: 0 !important; }
  #modal-left .modal-dialog .modal-content {
    border-radius: 0 !important;
    max-width: 720px;
    width: 620px; }

#modal-right .modal-header {
  padding: 5px 10px; }
#modal-right .modal {
  right: 0 !important;
  left: auto !important; }
#modal-right .modal-dialog {
  margin: 0 !important; }
  #modal-right .modal-dialog .modal-content {
    border-radius: 0 !important;
    max-width: 720px;
    width: 620px; }

.navbar-brand-box,
.vertical-menu {
  width: 200px; }

#sidebar-menu ul li ul.sub-menu li a {
  padding: .65rem .65rem .65rem 1.5rem; }
#sidebar-menu ul li a {
  font-size: 14px;
  font-weight: 600;
  padding: .75rem; }

.main-content .footer {
  left: 200px; }

@media (max-width: 992px) {
  .main-content .footer {
    left: 0 !important; } }
ul#pagination {
  justify-content: center; }
  ul#pagination li {
    padding: 10px 20px;
    background-color: rgba(65, 112, 243, 0.5); }
    ul#pagination li:first-child {
      border-radius: .6rem 0 0 .6rem; }
    ul#pagination li:last-child {
      border-radius: 0 .6rem .6rem 0; }
    ul#pagination li.active {
      background-color: #4170f3; }
    ul#pagination li.disabled {
      cursor: not-allowed; }
    ul#pagination li a {
      color: #fff; }

.card .header-title-lg {
  font-size: 30px;
  font-weight: 800; }

.header-title {
  font-size: 24px;
  font-weight: bold; }

.header-title-lg {
  font-size: 30px;
  font-weight: 800; }

table#table-cemara-inventory {
  font-size: 14px; }

#inventory-item .list-group .list-group-item {
  padding: 0; }
  #inventory-item .list-group .list-group-item .media-body h5 {
    color: #129263;
    font-weight: 800; }

#jo-item .list-group .list-group-item {
  padding: 0; }
  #jo-item .list-group .list-group-item .media-body h5 {
    color: #2f487e;
    font-weight: 800; }
    #jo-item .list-group .list-group-item .media-body h5 span.start_date {
      color: #077d30; }
    #jo-item .list-group .list-group-item .media-body h5 span.deadline {
      color: red; }

.badge-single-jo-code {
  font-size: 22px; }

.table td, .table th {
  vertical-align: middle;
  border-top: 1px solid #b9b9b9; }

.page-content {
  padding: 70px calc(24px / 2) 100px calc(24px / 2); }

.footer {
  bottom: 0;
  padding: 30px calc(24px / 2);
  position: absolute;
  right: 0;
  color: #74788d;
  left: 250px;
  height: 100px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  background-color: #fff; }
  .footer .copyright p {
    margin-bottom: 0;
    color: #636363;
    font-weight: bold; }

table#table-cemara-inventory thead {
  background: #2fa97c;
  color: #fff; }
table#table-cemara-inventory tbody th,
table#table-cemara-inventory tbody td {
  font-weight: 600; }

.sub-str {
  font-weight: 700;
  font-size: 22px; }

.page-title-box {
  padding: 60px 12px 65px 12px; }

.page-content-wrapper {
  margin-top: -90px; }

@media (max-width: 768px) {
  page-content {
    padding: 70px calc(5px / 2) 100px calc(5px / 2) !important; } }
span.big-count {
  font-weight: bold;
  font-size: 36px; }
  @media screen and (max-width: 600px) {
    span.big-count {
      font-size: 30px; } }
span.badge-sn {
  font-size: 14px; }

#job-list table#table-cemara-inventory thead {
  background: #465575; }

.uploader {
  position: relative;
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px; }
  .uploader #show-error-image-upload {
    position: absolute;
    background: #ff3636;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 0;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 20px; }
  .uploader:hover label {
    border-color: #4170f3; }
  .uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    user-select: none; }
  .uploader label.hover {
    border: 3px solid #29a20e;
    box-shadow: inset 0 0 0 6px #eee; }
  .uploader label.hover #start i.fa {
    transform: scale(0.8);
    opacity: 0.3; }
  .uploader #start {
    float: left;
    clear: both;
    width: 100%; }
  .uploader #start.hidden {
    display: none; }
  .uploader #start i {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out; }
  .uploader #response {
    float: left;
    clear: both;
    width: 100%; }
    .uploader #response.hidden {
      display: none; }
  .uploader #file-image {
    display: inline;
    margin: auto;
    max-width: 290px; }
  .uploader #file-image.hidden {
    display: none; }
  .uploader #response #messages {
    margin-bottom: .5rem; }
  .uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%; }
  .uploader #notimage.hidden {
    display: none; }

.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden; }

.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee; }

.uploader .progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #0da130 0%, #1b8903 50%);
  border-radius: 4px; }

.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #0da130 0%, #1b8903 50%);
  border-radius: 4px; }

.uploader input[type="file"] {
  display: none; }

.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982; }

.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  cursor: pointer; }

.main-content {
  margin-left: 200px; }

/*# sourceMappingURL=app.css.map */
