body {
    background-color: $bg-light;
}


.box {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
    border-radius: .1rem !important;
    background-color: $white;
    padding: 2rem 3rem;
    &.box-pd-lg {
        padding: 4rem 7rem;
    }
}

.img-box {
    img {
        width: 300px;
        height: auto;
    }
}

.main-heading {
    h1 {
        font-size: 22px;
    }
}