ul#pagination {
    justify-content: center;
    li {
        padding: 10px 20px;
        background-color: rgba($primary-color, 0.5);
        &:first-child {
            border-radius: .6rem 0 0 .6rem;
        }
        &:last-child {
            border-radius: 0 .6rem .6rem 0;
        }
        &.active {
            background-color: $primary-color;
        }
        &.disabled {
            cursor: not-allowed;
        }
        a {
            color: $white;
        }
    }
}