.navbar-brand-box,
.vertical-menu {
    width: 230px;
}

#sidebar-menu {
    ul {
        li {
            ul {
                &.sub-menu {
                    li {
                        a {
                            padding: .65rem .65rem .65rem 1.5rem;
                        }
                    }
                }
            }
            a {
                &.waiting-list {
                    font-weight: bold;
                    color: #ff6e4b !important;
                }
                &.joprogress {
                    color: #1794ff !important;
                    font-weight: bold;
                }
                &.done {
                    color: #2fa97c !important;
                    font-weight: bold;
                }
                font-size: 14px;
                font-weight: 600;
                padding: .75rem;
            }
        }
    }
}