.navbar-brand-box,
.vertical-menu {
    width: 200px;
}

#sidebar-menu {
    ul {
        li {
            a {
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}